<%- include( "header" ) -%>
<h1 class="my-5">
Technology Blog
    <br />
    <small class="h4">The Latest technology</small>
</h1>
<p>
   Welcome To My Page!!! Here you get more information about new technology...
</p>
<p>
    Author: RUBY
</p>
<p>
    Tech stack:
    <ul>
        <li>Node JS</li>
        <li>Express</li>
        <li>MongoDB using Mongoose</li>
        <li>EJS</li>
    </ul>
</p>
<%- include( "footer" ) -%>